php_value upload_max_filesize 100M
php_value post_max_size 100M
php_value memory_limit 256M
php_value max_input_vars 5000

# Protect wp-config.php
<Files wp-config.php>
	order allow,deny
	deny from all
</Files>

# Disable Directory Browsing
Options All -Indexes

# BEGIN WordPress
<IfModule mod_rewrite.c>
	RewriteRule ^index\.php$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /index.php [L]
</IfModule>
# END WordPress
